@use "../styles/abstracts" as *;

.main {
  @include flex-center;
  min-height: 100vh;
  background-color: $color-bg-dashboard;
  font-family: var(--font-work-sans), sans-serif;
  color: $color-navy;
  flex-direction: column;
  gap: 1rem;
}
